html {
    height: 100%;
    box-sizing: border-box;
}

body {
    /*flexbox for overall page children include header mainsection footer*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.mainSection {
    /*allows the main section to take up all available space pushing footer to the bottom*/
    flex: 1;
}

.element{
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
}

.lGameOption, .rGameOption{
    height: 150px !important;
    width: 100% !important;
}

#chatArea{
    overflow: auto;
    height: 10em;
    padding-top: 0;
}


#copyright {
    text-align: center;
    padding: .5% 0 .5% 0;
}

/*#leftPlayer{
    visibility: hidden;
}*/

.hidePlayer, .hideScore{
    visibility: hidden;
}
